<div class="row container">  
  <div class="col-sm-6 ">	

    <div class="alert alert-danger" *ngIf="error">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      <span class="alert-msg">{{error}}</span>			
    </div>

     <form class = "form-horizontal"
     [formGroup]="loginForm"
     (ngSubmit)="onSubmit()">

            <label for="email">Email:</label>

            <input type="text" 
            class="form-control" 
            id="email" 
            formControlName="email"
            placeholder="Enter Your Email">

            <label for="password">Password:</label>

            <input type="password" 
            class="form-control" 
            id="password"
            formControlName="password" 
            placeholder="Enter Your Password">

            <button type="submit" class="btn  btn-login btn-black" [disabled]="!loginForm.valid">LOG IN</button>
            <button type="button" class="btn  btn-login btn-white" (click)="onCancel()">CANCEL</button>

      </form>

      <a routerLink="/signup-user" class="txtblack"> Don't have an account yet? Sign up instead</a>

  </div>

  <div class="col-sm-6"> 
    <img  class="img-fluid"  alt="Responsive Image" height="40" src="../../assets/images/sample.jpg">
  </div>

</div>
