.navbar-inverse {
    background-color: #f0f0f0;
    border-color:#f0f0f0;
    padding-right: 3em;
    padding-left: 3em;
    font-family: 'Archivo Black', sans-serif;
}
svg {
    color: #c02727;
}
.nav-link{
    font-size: 1.2em;
    color: #161616;
}
.nav-link:hover{
    color: rgb(80, 80, 80);
}
img{
    height: 2.3em;
    width: auto;
}
