<nav class="navbar navbar-expand-sm bg-light navbar-light navbar-inverse">    <!-- Brand/logo -->
    <a class="navbar-brand" routerLink="/dashboard-admin">
      <img src="../../assets/images/LOGO.png" alt="logo"  width="75" height="25" >
   </a>
    
    <!-- Links -->
    <ul class="navbar-nav  mx-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="orderDetails()">ORDERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"(click)="inventory()">INVENTORY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"(click)="accountsRegistered()">ACCOUNTS</a>
      </li>
    </ul>
    <svg (click)="onLogout()" style="cursor: pointer;" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg>
  </nav>
  <div class="alert alert-danger" *ngIf="errorMessage">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <span class="alert-msg">{{errorMessage}}</span>			
  </div>