.row{
    margin-top: 1em;
}

P{
    margin-bottom: 0em;
    color: #262626;
   }

   .form-check{
       margin-bottom: 1em;
   }
   .resize-img{
    width: 150px;
    margin-right: 1em;
}
a {
    font-family: 'Quicksand', sans-serif;
}
label {
    font-family: 'Montserrat', sans-serif;
}