<app-navbar-user></app-navbar-user>
<div class="container">
  <div class="row container-fluid" *ngIf="isLoading">
    <p class="loadingMessage"> Checkout Page Loading</p>  
      <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="container-fluid wrapper">
  <form [formGroup]="checkoutForm" action="/action_page.php" *ngIf="!isLoading">  
  <div class="row container wrapper">
    <div class="col-sm-6"> 
      <h2> SHIPPING DETAILS</h2>
      <div class="row">
        <div class="form-check col-sm-12">
          <input
            class="form-check-input"
            type="radio"
            (change)= "getAddressChecked($event, 'sameAddress')" 
            name="flexRadioDefault"
            id="flexRadioDefault1"
          />
          <label class="form-check-label" for="flexRadioDefault1"> Same as Account Address </label>
        </div>
        <div class="form-check col-sm-12">
          <input 
            (change)= "getAddressChecked($event, 'diffAddress')"         
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
          >
          <label class="form-check-label" for="flexRadioDefault1"> Enter a Different Address </label>         	
                    <div class="card" *ngIf = "isDiffAddress">
              <div class="card-body">
                <app-checkout-diff-address                
                >

                </app-checkout-diff-address>
            </div>
            </div>
        </div>
        <div class="col-sm-12">
        <h5>Select Courier:</h5>
        </div>   
        <div class="form-check col-sm-3">
          <input
            class="form-check-input"
            type="radio"
            (change)= "getCourier($event, 'J&T')" 
            name="courier"
            id="radioCourier1"
          />
          <label class="form-check-label" for="flexRadioDefault1"> J&T </label>

        </div>
        <div class="form-check col-sm-3">
          <input
          class="form-check-input"
          type="radio"
          (change)= "getCourier($event, 'LBC')" 
          name="courier"
          id="radioCourier2"
        />
        <label class="form-check-label" for="flexRadioDefault1"> LBC </label>
        </div>
          <div class="col-sm-6" *ngIf="!isCourierSelected" >
            <p><b>Shipping Rate: </b> </p>
            <div *ngFor= "let courierRate of courierRate">
              <p>{{courierRate}}</p>
            </div>
            
          </div>
        <div class="col-sm-12">
        <h5>Upload Receipt:</h5> 
        </div>
        <div class="form-check col-sm-12">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="selectFile($event)"
                aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
            <div>
              <img [src]="url" *ngFor="let url of url" [src]="url"  class="img-responsive image-display" style="width:50%" alt="Image"> 
            </div>
          </div>
          <div *ngIf="isSizeLarge">
            <p class="errorMessage redError"> File Too Large: should be less than 1MB</p>  
          </div>
        </div>
        <div class="form-check col-sm-12"> 
          <p><b>Deposit/Transfer Payment: </b></p>
          <p>Account Name: Pauline San Buenaventura </p>
          <ol>
            <li>BDO : Account No. 008080074092</li>
            <li>GCASH : Number. 09776926881</li>
            <li>PALAWAN : Number. 09776926881</li>
          </ol>
          <p><b>Payment Verification: </b></p>
            <p>Once payment has been made thru bank or gcash, please upload your photo of payment receipt through the 
                Checkout Page or on your My Accounts Page. 
            </p>
          <p><b>IMPORTANT! </b></p>
          <ul>
            <li>We DO NOT have a REFUND Policy</li>
            <li>Paid orders will automatically be delivered while unpaid orders will be cancelled if not settled within 3 days.</li>
            <li>If you wish to see if your payment has been confirmed, kindly check your order status within 1-2 business days upon uploading the payment receipt </li>
            <li>Receipt can be uploaded NOW or LATER</li>
            <li>COD is NOT supported</li>
            <li>Delivery is every Wednesday</li>
          </ul>

        </div >

      </div>
    </div>
    <div class="col-sm-6">
      <h2> ORDER SUMMARY</h2>
      <div class="row">

        <ng-container *ngIf="!cartIsEmpty && !isLoading">
          <div class="row container-fluid" *ngFor='let item of items_cart; let i = index'>  
              <div class="col-sm-4"> 
                  <img  [src]="item.productImage" class="img-responsive resize-img" alt="Image">    
              </div>
              <div class="col-sm-8">
                <h5>{{item.productName}}</h5>
                <p>{{"Variation: " + item.variationName}}</p>
                <p>{{"Size: " + item.size}}</p>
                <p>{{item.noItem + "pcs." + " x "+ item.price + " PHP"}}</p> 
              </div>
          </div>
      </ng-container>

        <div class="form-group col-sm-12">
          <textarea class="form-control rounded-0" rows="2" 
                    placeholder="Enter Message For Customized Orders..."
                    formControlName="productMessage"></textarea>
        </div>
        <div class="form-check col-sm-12 ">
          <p>TOTAL BILL: PHP {{totalPrice}}</p>
        </div>
        <div class="form-check col-sm-12 ">
          <button  type="submit" class=" btn btn-black"
                (click)=" onProceed(error)" [disabled]="isFormValid || isCourierSelected" 
                >
                Proceed With The Order</button>
          <button  type="submit" class=" btn btn-white float-right">Cancel</button>
        </div>
      </div>
    </div>
  </div> 
  </form>  
  </div>

  <ng-template #error let-modal>
    <div class="modal-body">
     <p class="warning">Order Cannot Continue</p>
      <p class="warning"> Shopping Cart will be Cleared</p>     
    </div>

    <div class="modal-body"*ngFor="let message of errorProduct" >
      <p>{{message}}</p>        
    </div>
    <div>
    </div>
       <div class="modal-footer">
      <button type="button" class="btn btn-danger float-right" (click)="close()">Close</button>
    </div>  
    


  </ng-template>

  <app-footer></app-footer>

</div>
