<div class="row">
        <div class="col-sm-12 details">
           <p>Juan Carlos</p>
           <p>juancarlos@gmail.com</p>
        </div>
          <div class="col-sm-12 details">
           <p>Order Summary</p>
           <p>TSHIRT</p>
          <p>SIZE - LARGE</p>
          <P>COLOR BLACK</P>
          <P>1 X PHP 300</P> 
        </div>
       <div class="col-sm-12 details">
            <p>Address</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        </div>
        <div class="col-sm-12 details">
           <img src="https://tse4.mm.bing.net/th?id=OIP.POTtHrDCCg0IZ73xo21jgwHaHa&pid=Api" class="img-responsive" style="width:100%" alt="Image">  
      </div>
      <div class="col-sm-12">
            <button class="btn btn-success">Confirm</button>
            <button class="btn btn-danger float-right">Cancel</button>
      </div>
  </div>
