.container {
   text-align: center;
 margin: auto;
    margin-top: 5%;
}

.btn-login  {
    margin-top: 1.5em;
    width: 110px;
    margin-right: 20px;
}

input.ng-invalid.ng-touched
{
   border: 1px solid red;
}

.alert-msg{
   margin-bottom: 0cm;
   margin-left: 1em;
}

 label {
   display: inline-block;
   margin-bottom: 1em; 
   margin-top: 1rem;
   font-family: 'Montserrat', sans-serif;
   text-align: center;

}
form {
   margin-bottom: 1em;
}

input, a {
   font-family: 'Quicksand', sans-serif;
}
.form-control{
   width: 20em;
 text-align: center;
 margin: auto;
 }