.container {
    margin-left: 5%;
    margin-top: 5%;
}

.btn-login  {
    margin-top: 5%;
    width: 110px;
    margin-right: 20px;
}

input.ng-invalid.ng-touched
{
   border: 1px solid red;
}

.alert-msg{
   margin-bottom: 0cm;
   margin-left: 1em;
}

 label {
   display: inline-block;
   margin-bottom: 0rem; 
   margin-top: 1rem;
   font-family: 'Montserrat', sans-serif;
}
form {
   margin-bottom: 1em;
}


.img-fluid {
   max-width: 85%;
   height: auto;
}

input, a {
   font-family: 'Quicksand', sans-serif;
}