<div class="form-horizontal">	
	<form action="/action_page.php">	
		<div class="form-group row">
			<label for="fname" class="control-label col-sm-6">Fist Name:</label>
			<label for="mname" class="control-label col-sm-6">Middle Name:</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" id="pwd" placeholder="First Name">
	  		</div>
	   		<div class="col-sm-6">
				<input type="text" class="form-control" id="mname" placeholder="Middle Name">
	  		 </div> 			 
		</div>
		<div class="form-group row">
			<label for="lname" class="control-label col-sm-6">Last Name:</label>
			<label for="suffix" class="control-label col-sm-6">Suffix (if applicable)</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="lname" placeholder="Last Name">
			</div>
			   <div class="col-sm-6">
				<input type="text" class="form-control" id="suffix" placeholder="Suffix">
			</div> 
		</div>
		<div class="form-group row">
	    	<label for="adrs1" class="control-label col-sm-12">Address Line </label>
			<div class="col-sm-12">
				<input type="text" class="form-control" id="adrs1" placeholder="Building Number, Street">
			</div>
		</div>
		<div class="form-group row">
			<label for="brgy" class="control-label col-sm-6">Barangay:</label>
			<label for="city" class="control-label col-sm-6">City:</label>
				<div class="col-sm-6">
				<input type="text" class="form-control" id="brgy" placeholder="Barangay">
			</div>
			   <div class="col-sm-6">
				<input type="text" class="form-control" id="city" placeholder="City">
			</div> 
		</div>
		<div class="form-group row">
			<label for="prov" class="control-label col-sm-6">Region/Province:</label>
			<label for="pcode" class="control-label col-sm-6">Postal Code</label>	
			<div class="col-sm-6">
				<input type="text" class="form-control" id="prov" placeholder="Region/Province">
			</div>
			   <div class="col-sm-6">
				<input type="text" class="form-control" id="pcode" placeholder="Postal Code">
			</div> 
		</div>
		<div class="form-group row">
		    <label for="email" class="control-label col-sm-12">Email Address:</label>
			<div class="col-sm-12">
				<input type="password" class="form-control" id="email" placeholder="Email Address">
			</div>
		</div>
		<div class="form-group row">
			<label for="crtpasswd" class="control-label col-sm-6">Create a Password:</label>
			<label for="confpasswd" class="control-label col-sm-6">Confirm Password:</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" id="crtpasswd" placeholder="Password">
			</div>
			   <div class="col-sm-6">
				<input type="password" class="form-control" id="confpasswd" placeholder="Password">
			</div> 
		</div>
		<div class="form-group row text-center">
			<div class="col-sm-6">
                <button type="submit" class="btn btn-black btn-block">Save</button>
			</div>
			   <div class="col-sm-6">	  	
				   	<button type="submit" class="btn btn-white btn-block ">Cancel</button>
			</div> 
		</div>
	</form>
	</div>