<div class="container-fluid text-center">   
    <h2>ORDER DETAILS</h2>
      <div class="row ">
        <div class="col-sm-2">
            <app-order-sidenav> </app-order-sidenav>
        </div>
    
        <div class="col-sm-8 text-left"> 
          <h5>ON DELIVERY ORDERS </h5>
          <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Order Time</th>
                    <th>Order Id</th>
                    <th>Status</th>
                    <th>Tracking No.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Kristina Agui</td>
                    <td>8/26/20 10:30 pm</td>
                    <td>201113652498 </td>
                    <td>ON DElIVERY</td>  
                    <td>01254106</td>     
                  </tr>
                  <tr>
                  <tr>
                    <td>Mike Son</td>
                    <td>8/29/20 10:30 pm</td>
                    <td>201155652498 </td>
                    <td>ON DELIVERY</td>     
                    <td>0123874</td>  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
    