
  .center-text {
  	text-align: center;
  }
  P{
    margin-bottom: 0em;
    color: #262626;
   }

  .order-status {
    padding-left: 1em;
  }
  .upload {
    margin: .6em;
  }
  .custom-file-label{
    max-width: 28em;
  }
  .statusLabel {
    margin-top: 1em;
  }
  .redError {
    color: red;
}
.receiptImg {
  margin-left: 1em;
}
hr {
  margin-top: 1em;
}
.radio-inline{
  margin-right: 1em;
}
.orderSummary{
  margin-bottom: 0.5em;
}
.loadingMessage{
  margin-bottom: 2em;
}

a:hover {
  color: black;
  font-weight: 600;
}

a:active {
  color: black;
  font-weight: 600;
}
