
  .center-text {
  	text-align: center;
  }
  P{
    margin-bottom: 0em;
    color: #262626;
   }
   .vl {
    border-right: 3px solid black;
    height: auto;
  }
  .order-status {
    padding-left: 1em;
    padding-bottom: 1em;
  }
  .upload {
    margin: .6em;
  }
  .custom-file-label{
    max-width: 13em;
  }