.card {
    border: 1px solid rgb(255, 255, 255);
    height:22em ;
    margin: 0;

}
.card-img{
    max-height:13em;
    max-width: 13em;
}
button{
    position: absolute;
    top: 85%;
    left:18%;
    max-width: 10em;
}
.wrapper {
    margin-bottom: 1em;
}