.card {
    border: 1px solid rgb(255, 255, 255);
    height:25em ;
    margin: 0;

}
.card-img{
    max-height:13em;
    max-width: 13em;
}
button{
    position: absolute;
    top: 85%;
    left:18%;
    max-width: 10em;
}
.wrapper {
    margin-bottom: 1em;
}
.price {
    position: absolute;
    top: 75%;
    left: 5%;
    width: 90%;
    text-align: center;
    margin-bottom: 2em; 
    display: inline-block;
}
