<div class="row container-fluid">
  <div class="col-sm-6">
    <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
      <slide *ngFor="let product of product.productImages">
          <img  [src]="product"class = "img-responsive"  alt="image slide" style="display: block; width: 100%;">
      </slide>
    </carousel>
  </div>

  <div class="col-sm-6">
    <svg routerLink="/products-user" width="40" height="40" fill="currentColor" class="bi bi-x float-right" viewBox="0 0 16 16">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>

    <div>
      <h2>{{product.name}}</h2>                  
        <form action="/action_page.php" >

          <div class="col-sm-12 item-choices" >
            <h5>Variation</h5>  
              <ul>
                <li *ngFor='let product of product.productVariation; let i= index'>
                  <input hidden type='radio' (click)="getVariation(product.variationName)" name='variation' id={{product.variationName}}/>
                  <label class ="btn-secondary btn-circle btn-xl" for={{product.variationName}}>{{product.variationName}}</label>
                </li>
              </ul>

            <h5>Sizes</h5>
              <ul>
                <li *ngFor='let product of product.sizeVariation'>
                  <input  hidden type='radio'  name='size' (click)="getSize(product.size)" id={{product.size}}/>
                  <label  class="btn-secondary btn-circle btn-xl" for={{product.size}} >{{product.size}}</label>   
                </li>
              </ul>

            <p class="price" *ngIf="productItem.price != null">Price: {{productItem.price}} </p>
            <p  class="errorMessage" *ngIf="stock >=  1 ">Available Stock: {{stock}}</p>
            <p class="errorMessage" *ngIf="stock == 0"> NO AVAILABLE STOCK </p>
          </div>

          <div class="col-sm-12">
            <h5>Quantity</h5>
            <div class=" btn-group">
              <button (click)=" decreaseQuantity()"
                      [disabled] = "isTrue"
              class="btn btn-black quantity-btn" >-</button>
                <input type="text" class="form-control text-center"  readonly required [value]="productItem.noItem" name="noItem" id="quantity">
              <button (click)="incrementQuantity()"
              [disabled] = "isValid"
              class="btn btn-black quantity-btn">+</button>
            </div>

          </div>

          <div class="col-sm-12">
            <p class="description">{{product.description}}</p>
          </div>

          <div>
            <button type="submit" (click)="addToCart()"  class="btn btn-black btn-cart">ADD TO CART</button>
          </div>
        </form>
    </div>
  </div>
</div>

