<h2>HOW WE MADE IT HAPPEN</h2>	

	<div class="container-fluid  row">
        <div class="col-sm-5" >
            <img class="" src="../../assets/images/sample.jpg" class="img-thumbnail">
        </div>
        <div class="col-sm-7 content-aboutUs text-justify">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus ante. Etiam in ultrices urna. Proin faucibus sed enim ut mattis. Aenean volutpat felis at porttitor tempor. Curabitur vitae felis ac libero ultricies vehicula. Cras ac nibh vel ipsum laoreet sollicitudin sit amet et urna. Donec consequat magna purus, ac posuere justo posuere quis. Vivamus odio tellus, auctor id orci vitae, egestas semper quam. Mauris porttitor neque consequat imperdiet luctus.</p>	
        </div>
	</div>
