.body-container {
    margin-left: 15%;
    margin-right: 15%;
  }

  .img-thumbnail {
<<<<<<< HEAD
  	height: 130px;
    width: auto;
    border: 0ch solid white;
  }
  .col-sm-5{
    padding-top: 100px

  }
  .content-aboutUs {
  	padding-top: 90px

  }
 p {
    font-family: Evolve-Sans;
     font-size: 1.15em;
 }
 .title {
    font-size: 2.7em;
 
=======
  	height: 500px;
  }
  .content-aboutUs {
  	padding-top: 150px

  }
 p {
     font-size: 1em;
>>>>>>> b42e0962556a4a1e8be2385a0fb971284f4a0cd5
 }