<h2>HOW WE MADE IT HAPPEN</h2>	
	<div class="container-fluid  row">
        <div class="col-sm-5" >
            <img class="" src="../../assets/images/LOGO.png" class="img-thumbnail">
        </div>
        <div class="col-sm-7 content-aboutUs text-justify">
        <p>Blaze Athletics was established to express passion and
            love for sports, and to reflect the owner’s eagerness
            to provide people with affordable sportswear. 
            The company’s goal is to fulfill the dreams of
            every athlete and athlete-at-heart, which is to
            own personalized jerseys that will fit like a 
            glove or get to wear their favorite player’s jerseys—some 
            might even be signed! No matter what age, gender, and status
            people are in, Blaze Athletics can make it happen.</p>	
        </div>
	</div>

    <app-footer></app-footer>
