.card{
    padding: 1em;
    height: 27em ;
    margin-bottom: 2em;

}
.card-img-top{
    max-height:13em;
    max-width: 13em;
}
p{
    margin-bottom: 0.2em;
}
.btn-width{
    margin-top: 0.5em;
    width: 5em;
}
.head {
    margin-bottom: 1.5em;
}
.div-button {
    position: absolute;
    top: 50%;
    left: 10%;
    margin-bottom: 2em; 
    display: inline-block;
}
.stock-sold {
    text-align: left;
    position: absolute;
    top: 115%;
    left: 5%;
    margin-bottom: 2em; 
    display: inline-block;
}
.price {
    position: absolute;
    top: 85%;
    left: 5%;
    margin-bottom: 2em; 
    display: inline-block;
}
.name {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    text-align: center;
    margin-bottom: 2em; 
    display: inline-block;
}
.sold {
    margin-left: 1em;
}