<app-navbar-admin></app-navbar-admin>
<div class="row container-fluid" *ngIf="isLoading"> 
    <p class="loadingMessage"> Inventory Loading</p>   
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="container-fluid">  
    
    <h2>INVENTORY</h2>  
      <div class="row">
        <div class="col-sm-12">
            <div class="row head">
                <div class="col-sm-8">
                    <h5 class="">{{noItems}} PRODUCTS </h5>
                </div>
                <div class="col-sm-4">
                    <button routerLink = "/product-new" class="btn btn-black float-right">Add New Products</button>
                </div>
            </div>
        </div>

        <div class="row margin" >
            <div class="col-sm-3" *ngFor='let product of product'>
                <div class="card">
                <img [src]="product.productImages[0]" class="img-responsive card-img-top" style="width:100%" alt="Image">
                <div class="row card-body">
                     <div class="col-sm-12"> 
                            <p class="text-center name"> {{product.name}} </p>
                        <div class="col-sm-12 price">
                            <span>P {{product.lowPrice}} </span>
                            <span *ngIf="product.lowPrice != product.highPrice ">- P {{product.highPrice}} </span>
                        </div>
                        <div class="col-sm-12 stock-sold">
                            <span>Stocks: {{product.totalStock}} </span> 
                            <span class="sold">Sold: {{product.soldProducts}} </span>   
                        </div>		        		
                    </div>
                        <div class="col-sm-6 margin text-center">
                            <button routerLink = "/product-edit/{{product.key}}"class="div-button btn btn-black btn-width">Edit</button>
                        </div> 
                        <div class="col-sm-6 margin text-center">
                            <button routerLink = "/inventory"class="div-button btn btn-black btn-width" (click)="deleteProduct(product.key, product.name)" >Delete</button>
                        </div>                         
                </div>            
                </div>
            </div>
        </div>

    </div>
</div>