<div class="container-fluid text-center">   
    <h2>ORDER DETAILS</h2>
      <div class="row">
        <div class="col-sm-2">
          <app-order-sidenav> </app-order-sidenav>
        </div>
    
        <div class="col-sm-8 text-left"> 
            <h5>TO PAY ORDERS</h5>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Order Time</th>
                    <th>Courier</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of product$ | async">
                    <td>{{ p.cutomerName }}</td>
                    <td>{{ p.orderDate }}</td>
                    <td>{{ p.courier }}</td>
                    <td>{{ p.orderStatus }}</td>
                    <td><button class="btn btn-black" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                      aria-controls="collapseExample">Update</button></td>   
                  </tr>
                </tbody>
              </table>
              </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="col col-sm-2">
                <app-order-pending-details></app-order-pending-details>
              </div>
            </div>
          </div>