<div class="container-fluid text-center">   
    <h2>ORDER DETAILS</h2>
      <div class="row">
        <div class="col-sm-2">
            <app-order-sidenav> </app-order-sidenav>
        </div>
    
        <div class="col-sm-8 text-left"> 
            <h5>FOR DELIVERY ORDERS</h5>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Order Time</th>
                    <th>Courier</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of orders">
                    <td>{{ p.cutomerName }}</td>
                    <td>{{ p.orderDate }}</td>
                    <td>{{ p.courier }}</td>
                    <td>{{ p.orderStatus }}</td>
                    <td><input id="go" type="button" value="Upload Tracking No." class="btn btn-black" onclick="prompt('Enter Tracking No.');"></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
    
          </div>
    </div>