<div class="container-fluid text-center">   
    <h2>ORDER DETAILS</h2>
      <div class="row">
        <div class="col-sm-2">
            <app-order-sidenav> </app-order-sidenav>
        </div>
    
        <div class="col-sm-8 text-left"> 
            <h5>FOR DELIVERY ORDERS</h5>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Order Time</th>
                    <th>Courier</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of orders">
                    <td>{{ p.cutomerName }}</td>
                    <td>{{ p.orderDate }}</td>
                    <td>{{ p.courier }}</td>
                    <td>{{ p.orderStatus }}</td>
                    <td><button class="btn btn-black" (click)="openVerticallyCentered(content, p.key)" >Upload Tracking No.</button></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>

    <ng-template #content let-modal>
      <div class="modal-body"*ngFor="let id of UIDdata ; let i = index" >
        <label for="recipient-name" class="col-form-label">Enter Tracking Number:  </label><br>
        <input type="text" class="form-control form-control-lg flat-input" #trackingnum placeholder="Tracking Number" required><br><br>
        
        <div class="modal-footer">
        <button class="btn btn-success"(click)="update(id.key,'On Delivery',trackingnum)">Confirm</button>
        <button type="button" class="btn btn-danger float-right"(click)="modal.close('Close click')">Close</button>
      </div>
      </div>
    </ng-template>

