.form-control{
  width: 20em;
text-align: center;
margin: auto;
}
.row{
    margin-top: 2em;
}
label {

  font-family: 'Montserrat', sans-serif;
}

input, a {
  font-family: 'Quicksand', sans-serif;
}
.container {
  margin-top: 7em;
}