.home-header {
    padding-top: 1.5em;
}
.card {
    padding-top: 1em;
    margin-bottom: 30px;

}
.img_banner{
    max-height: 25em;
    width: auto;
}
.container{
    margin-top: 1em;
    margin-bottom: 0em;
}

img{
    object-fit:cover ;
}
.card-img{
    max-height:13em;
    max-width: 13em;
}
.card{
    height:21em ;
}
p {
    font-size: 1.1em;
}
.emptyfeature{
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    position: absolute;
    top: 85%;
    left: 45%; 
    height: 80px;
}