<div class="container-fluid text-center">   
    <h2>ORDER DETAILS</h2>
    <div class="row">
      <div class="col-sm-2">
        <app-order-sidenav> </app-order-sidenav>
      </div>
      <div class="col-sm-7 text-left"> 
        <h5>PENDING ORDERS</h5>
        <table class="table table-hover">
          <thead>      
                  <tr>
                    <th>Name</th>
                    <th>Order Time</th>
                    <th>Courier</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of product$ | async">
                    <td>{{ p.cutomerName }}</td>
                    <td>{{ p.orderDate }}</td>  
                    <td>{{ p.courier }}</td>
                    <td>{{ p.orderStatus }}</td>
                    <td><button (click)="openVerticallyCentered(content)" >Update</button></td>
                </tbody>
              </table>
            </div>
          </div>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Order Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12 details">
        <p>name</p>
        <p>juancarlos@gmail.com</p>
        </div>
        <div class="col-sm-12 details">
          <p>Order Summary</p>
          <p>TSHIRT</p>
         <p>SIZE - LARGE</p>
         <P>COLOR BLACK</P>
         <P>1 X PHP 300</P> 
       </div>
       <div class="col-sm-12 details">
        <p>Address</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-sm-12 details">
        <img src="https://tse4.mm.bing.net/th?id=OIP.POTtHrDCCg0IZ73xo21jgwHaHa&pid=Api" class="img-responsive" style="width:100%" alt="Image">  
      </div>


      <div class="modal-footer">
        <button class="btn btn-success">Confirm</button>
        <button type="button" class="btn btn-danger float-right" (click)="modal.close('Close click')">Close</button>
      </div>
      </div>
    </ng-template>