<app-navbar-user></app-navbar-user>
<div class="container">
	<h2> MEMBER INFORMATION</h2>

	<div class="row signup-container">
		<div class="col-sm-7 form-horizontal">
			

			<div class="alert alert-danger" *ngIf="errorMessage">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
				<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
				</svg>
				<span class="alert-msg">{{errorMessage}}</span>			
			</div>
			
		<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">	

			<div class="form-group row">
				<label for="fname" class="control-label col-sm-6">Fist Name:</label>
				<label for="mname" class="control-label col-sm-6">Middle Name:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="pwd" placeholder="First Name" formControlName="firstName">
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="mname" placeholder="Middle Name" formControlName="middleName" >
				</div> 			 
			</div>


			<div class="form-group row">
				<label for="lname" class="control-label col-sm-6">Last Name:</label>
				<label for="suffix" class="control-label col-sm-6">Suffix (if applicable)</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="lname" placeholder="Last Name" formControlName="lastName">
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="suffix" placeholder="Suffix">
				</div> 
			</div>

			<div class="form-group row">
				<label for="adrs1" class="control-label col-sm-12">Address Line </label>
				<div class="col-sm-12">
					<input type="text" class="form-control" id="adrs1" placeholder="Building Number, Street" formControlName="address">
				</div>
			</div>
			<div class="form-group row">
				<label for="brgy" class="control-label col-sm-6">Barangay:</label>
				<label for="city" class="control-label col-sm-6">City:</label>
					<div class="col-sm-6">
					<input type="text" class="form-control" id="brgy" placeholder="Barangay" formControlName="barangay">
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
				</div> 
			</div>

			<div class="form-group row">
				<label for="prov" class="control-label col-sm-6">Region/Province:</label>
				<label for="pcode" class="control-label col-sm-6">Postal Code</label>	
				<div class="col-sm-6">
					<input type="text" class="form-control" id="prov" placeholder="Region/Province" formControlName="region">
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="pcode" placeholder="Postal Code" formControlName="postalCode">
				</div> 
			</div>
			<div class="form-group row">
				<label for="email" class="control-label col-sm-12">Email Address:</label>
				<div class="col-sm-12">
					<input type="text" 
					class="form-control"
					formControlName="email" 
					id="email" 
					placeholder="Email Address">
				</div>
			</div>

			<div formGroupName="passwordField">
			<div class="form-group row">
				<label for="crtpasswd" class="control-label col-sm-6">Create a Password:</label>
				<label for="confpasswd" class="control-label col-sm-6">Confirm Password:</label>
				<div class="col-sm-6">
					<input type="password" 
					class="form-control" 
					id="crtpasswd" 
					formControlName="password"
					placeholder="Password">
				</div>
				<div class="col-sm-6">
					<input type="password"
					class="form-control" 
					id="confpasswd" 
					formControlName="confirmPassword"
					placeholder="Password">
				</div> 
			</div>
			<div class="form-group row">
				<div class="col-sm-8">
					<a routerLink="/login-user" class="txtblack txtblack"> Already have an account? Log in instead.</a>
				</div>
				<div class="col-sm-2">
								<button type="submit" class="btn btn-default btn-black" [disabled]="!signUpForm.valid">Sign Up</button>

				</div>
				<div class="col-sm-2">	  	
						<button type="button" class="btn btn-white " routerLink="/" >Cancel</button>

				</div> 

			</div>

		</div>

		</form>
	</div>
	<div class="col-sm-5"> 
		<img  class="img-fluid img-thumbnail"  alt="Responsive Image"  src="assets/images/sample.JPG">
	</div>
	</div>	
</div>
