label {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}
input, a {
    font-family: 'Quicksand', sans-serif;
}
.alert-msg{
    margin-bottom: 0cm;
    margin-left: 1em;
}

input.ng-invalid.ng-touched
{
   border: 1px solid red;
}